[submodule "front/RpStudio"]
	path = front/RpStudio
	url = git@github.com:Dastfox/RpStudio-front.git
	ignore = all

	
[submodule "RpStudio-back"]
	path = RpStudio-back
	url = git@github.com:Dastfox/RpStudio-back.git
	ignore = all
