[submodule "front/RpStudio"]
	path = front/RpStudio
	url = git@github.com:Dastfox/RpStudio-front.git
	ignore = all


[submodule "back/RpStudio"]
	path = back/RpStudio
	url = git@github.com:Dastfox/RpStudio-back.git
	ignore = all
